body {
font: 30px strong Montserrat, sans-serif;
line-height: 1.8;
color: #f5f6f7;
}
.box ul {
	font
	border-radius: 80px;
	overflow: visible;#f5f6f7
	list-style:none;
	float: right;
	padding: 0;
	width : 400px;
	margin-left:28%;
	background: #DEB887;
}
li{
	float: left;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 16px 18px;
}
.bg-0 {
background-color: #FFE4C4  ; /* Dark Blue */
color: #FFE4C4;
}
.bg-1 {
background-size:100% 100%;
background-image:url('../gambar/pemandangan.jpg');
background-attachment:fixed;
color: #FFE4C4;
}
.bg-2 {
background-color: #deb887 ; /* Dark Blue */
color: #A52A2A;
}
.bg-3 {
background-color: brown; /* White */
color: #deb887;
}
.bg-4 {
background-color: #FFA07A; /* Black Gray */
color: #8B0000 ;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.container-fluid {
padding-top: 70px;
padding-bottom: 70px;
}
.navbar {
padding-top: 15px;
padding-bottom: 15px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 12px;
letter-spacing: 5px;
}
.navbar-nav li a:hover {
color: #1abc9c !important;
}